Django>=5.0
mysqlclient
python-dotenv
django-crispy-forms
crispy-bootstrap5
django-storages
boto3asgiref==3.11.0
boto3==1.42.22
botocore==1.42.22
crispy-bootstrap5==2025.6
Django==5.2.9
django-crispy-forms==2.5
django-storages==1.14.6
jmespath==1.0.1
mysqlclient==2.2.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.2
